<<<<<<< HEAD
body {
  margin: 20px
  position: relative;
}

canvas {
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

=======
>>>>>>> App skin applied
.color {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  float: left;
  margin: 0 10px;
}

<<<<<<< HEAD
.controls {
  position: absolute;
  bottom: 10px;
}

=======
>>>>>>> App skin applied
h2, h1 {
  margin: 20px 0;
}

.overlay {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  z-index: 1;
  
  background: #fff;
  border: 1px solid black;
  padding: 20px;
}