/* LACMA Sketch 09-30-2012 */

/* SGD RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,nav,section,article,header,footer,section,header,footer,article,aside,hgroup {
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	margin:0;
	padding:0;
}

html {
	background-color:#FFF;
    overflow-y: scroll;
    -webkit-text-size-adjust: none;
    height: 100%;
}

html,body{
	height:100%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}

p,h1,h2,h3,h4,h5,h6,h7,li,li li,li ul,li ul li,label,dd,dt,input,a {
	color: #333;
	font-weight: 400;
	line-height: 18px;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	margin: 0px 0 15px;
}

h2 {
	font-size: 1.4em;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0;
}


p {
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.4em;
}

.clear-margin {
	margin: 0 !important;
}

.free-align01 {
		
}

.clear-pixie {
	clear: both;
}

input, textarea {
	width: 300px;
}
/* END RESET */


/* SITE STYLES */

body {
	margin: 0;
	
}

.wrap {
  position: relative;
	width: 2048px;
	height: 1536px;
  overflow: hidden;
	margin: 0 auto;
}

canvas {
	position: relative;
}


/* ICONS */

.ui-wrap {
	position: absolute;
	bottom: 40px;
	height: 150px;
	left: 775px;
	width: 610px;
	overflow: hidden;
}

.controls {
	margin: 0px;
}

.controls.hidden {
  opacity: 0;
}

.clear-btn[type="image"] {
	position: relative;
	left: 40px;
	width: 93px !important;
	height: 138px !important;
}

.new-brush-btn {
	position: relative;
	left: 125px;
	width: 148px !important;
	height: 140px !important;	
}

.save-btn[type="image"] {
	width: 104px !important;
	height: 118px !important;
	position: relative;
	top: -4px;
	left: 205px;
}

/* OVERLAYS */
.overlay {
	width: 2048px;
	background: url(/img/lightbox-bg.png) repeat;
	margin: 0 auto;
	position: absolute;
  opacity: 0;
	height: 1536px;
  /* so the z-index stays at 1 until the transition is over */
  transition: opacity 500ms linear, z-index 0 linear 500ms;
  -webkit-transition: opacity 500ms linear, z-index 0 linear 500ms;
  -moz-transition: opacity 500ms linear, z-index 0 linear 500ms;
}

.overlay.open {
  opacity: 1;
	z-index: 1;
  /* z-index changes immediately to 1 when coming here */
  transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
}

/* APP INFO */

.app-info {
	background: url(/img/app-info-bg.jpg) repeat;
	height: 395px;
	width: 475px;
	top: 100px;
	position: relative;
	z-index: 99999999999;
	padding: 50px 80px;
	margin: 0 auto;
	cursor: pointer;
}

.app-info img {
	margin: 0 0 10px -25px;
}

.app-info h2 {
	float: left;
	margin: 0 60px 0 5px;
}

.close-info {
	background: url(/img/close-info-icon.png) no-repeat;
	height: 24px;
	width: 24px;
	position: absolute;
	cursor: pointer;
	right: 2px;
	top: 2px;
}

.logo-accent {
	float: right;
	position: relative;
	border-top: 1px solid #d5d2ca;
	width: 555px;
	right: -80px;
	top: 45px;
	padding: 9px;
}

.logo-accent img {
	float: right;
}

/* SAVE INFO */
.save-info {
	background: url(/img/save-drawing-accent-bg.png) repeat;
	height: 395px;
	width: 475px;
	top: 100px;
	position: relative;
	z-index: 99999999999;
	padding: 50px 80px;
	margin: 0 auto;
	cursor: pointer;
}

.save-info img {
	margin: 0 0 10px;
}

.save-info h2 {
	float: left;
	margin: 0 120px 0 5px;
}

.save-info p {
	margin: 0 0 60px;
}

.save-info input {
	margin: 10px 0;
}

/* fixme */
.save-info .preview {
  border: 1px solid #999;
  max-width: 100px;
}
